/tempCodeRunnerFile.py
build/notion-test/Analysis-00.toc
build/notion-test/base_library.zip
build/notion-test/EXE-00.toc
build/notion-test/notion-test.exe.manifest
build/notion-test/notion-test.pkg
build/notion-test/PKG-00.toc
build/notion-test/PYZ-00.pyz
build/notion-test/PYZ-00.toc
build/notion-test/warn-notion-test.txt
build/notion-test/xref-notion-test.html
build/notion-test/localpycs/pyimod01_archive.pyc
build/notion-test/localpycs/pyimod02_importers.pyc
build/notion-test/localpycs/pyimod03_ctypes.pyc
build/notion-test/localpycs/pyimod04_pywin32.pyc
build/notion-test/localpycs/struct.pyc
notion-test.spec
dist/config.txt
dist/nades.txt
dist/nade_loader.exe
.gitignore
dist/prac.cfg
